absl-py==1.4.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
attrs==23.1.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
blosc2==2.2.5 ; python_full_version >= "3.9.0" and python_version < "3.12"
certifi==2023.5.7 ; python_full_version >= "3.9.0" and python_version < "3.12"
cffi==1.15.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
charset-normalizer==3.2.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
contourpy==1.1.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
cycler==0.11.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
docutils==0.20.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
flatbuffers==23.5.26 ; python_full_version >= "3.9.0" and python_version < "3.12"
fonttools==4.40.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
idna==3.4 ; python_full_version >= "3.9.0" and python_version < "3.12"
importlib-resources==6.0.0 ; python_full_version >= "3.9.0" and python_version < "3.10"
kivy-deps-angle==0.3.3 ; python_full_version >= "3.9.0" and python_version < "3.12" and sys_platform == "win32"
kivy-deps-glew==0.3.1 ; python_full_version >= "3.9.0" and python_version < "3.12" and sys_platform == "win32"
kivy-deps-sdl2==0.6.0 ; python_full_version >= "3.9.0" and python_version < "3.12" and sys_platform == "win32"
kivy-garden==0.1.5 ; python_full_version >= "3.9.0" and python_version < "3.12"
kivy==2.2.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
kiwisolver==1.4.4 ; python_full_version >= "3.9.0" and python_version < "3.12"
matplotlib==3.7.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
mediapipe==0.10.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
msgpack==1.0.5 ; python_full_version >= "3.9.0" and python_version < "3.12"
ndindex==1.7 ; python_full_version >= "3.9.0" and python_version < "3.12"
numpy==1.25.1 ; python_version >= "3.9" and python_version < "3.12"
opencv-contrib-python==4.8.0.74 ; python_full_version >= "3.9.0" and python_version < "3.12"
opencv-python==4.8.0.74 ; python_full_version >= "3.9.0" and python_version < "3.12"
packaging==23.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
pillow==10.0.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
protobuf==3.20.3 ; python_full_version >= "3.9.0" and python_version < "3.12"
py-cpuinfo==9.0.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
pycparser==2.21 ; python_full_version >= "3.9.0" and python_version < "3.12"
pygments==2.15.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
pyparsing==3.0.9 ; python_full_version >= "3.9.0" and python_version < "3.12"
pypiwin32==223 ; python_full_version >= "3.9.0" and python_version < "3.12" and sys_platform == "win32"
python-dateutil==2.8.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
pywin32==306 ; python_full_version >= "3.9.0" and python_version < "3.12" and sys_platform == "win32"
requests==2.31.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
six==1.16.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
sounddevice==0.4.6 ; python_full_version >= "3.9.0" and python_version < "3.12"
urllib3==2.0.3 ; python_full_version >= "3.9.0" and python_version < "3.12"
zipp==3.16.0 ; python_full_version >= "3.9.0" and python_version < "3.10"
